@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@500&display=swap');

table {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #2D3E5F;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #87a9ec;
}